body {
    background-color: #1c1c1c;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

/* styles */
.background--black {
    background-color: #1c1c1c;
}

.container {
    margin: 0 auto;
}

.margin--reset {
    margin: 0;
}

.padding--reset {
    padding: 0;
}

.hidden {
    display: none;
}

.reveal {
    display: block;
}

h1 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.75em;
    text-transform: uppercase;
}

h3 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.1em;
    text-transform: uppercase;
}

h4 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
}

h5 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    font-size: 0.9em;

}

h6 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #ffffff;
    font-size: 0.8em;
}

p {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1em;
    padding: 1em;
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: #faf28c;
}


header {
    margin: auto;
    text-align: center;
    width: 100%;
}

#logo {
    background-color: #ffffff;
}

#logo_tablet {
    display: none;
}

#logo img {
    max-width: 300px;
}

nav {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li a {
    padding: 0.8em 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    display: block;
    background-color: #310025;
    border: 1px solid #990066;
}

.sub-menu {
    /*display: none;*/
}

.sub-menu li,
.sub-menu li a {
    background-color: #990066;
}


.main-index {
    background-image: url(../img/fish-right.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: center center;
    background-color: #1c1c1c;
}

.icon-size {
    max-width: 300px;
}

.page-section {
    min-height: 50vh;
}

.page-section h1 {
    text-align: center;
}

.typography {
    text-align: center;
    background-image: url(../img/fish.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 30%;
    background-attachment: fixed;
}

button {
    margin: auto;
    display: block;
    width: 200px;
    height: 2em;
    background-color: #310025;
    color: #ffffff;
    border: 1px solid #990066;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2em;
    vertical-align: top;
    padding: 1em 0 1.75em 0;
    outline: none;
}


/* home section */
.index__hero-content {
    background-image: url(../img/index_sushi-cartoon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 70%;
    background-color: transparent;
}

/* about section */
.social-media__banner {
    text-align: center;
}

.social-media__list {
    list-style-type: none;
    text-align: center;
    border: 2px solid #990066;
    padding: 30px 30px 0;
    background-color: #bfbfbf;
}

.social-media__item {
    display: inline-block;
    margin-bottom: 8vh;
}

.social-media__image {
    max-width: 250px;
}

.social-media__item figcaption {
    color: #310025;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 2vh;
    width: 60%;
    margin: auto;
    font-size: 12px;
    line-height: 15px;
}



/* footer */
footer {
    background-color: pink;
    bottom: 0;
    margin-top: 200px;
    text-align: center;
}



/* style-tile-page */
.style-tile-page, {
    background-image: url(../img/fish-right.png);
    background-repeat: repeat-x;
    background-size: 50%;
    background-attachment: fixed;
}

.color-tiles {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    vertical-align: middle;
}

.tile-light-purple {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #990066;
    display: inline-block;
}

.tile-dark-purple {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #310025;
    display: inline-block;
}

.tile-yellow {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #faf28c;
    display: inline-block;
    color: #1c1c1c;
}

.tile-grey {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #bfbfbf;
    display: inline-block;
}

.icons {
    text-align: center;
}

.purple-icon {
    width: 100%;
}

.purple-icon img {
    width: 55%;
}

@media all and (min-width: 768px) {
    .container {
        padding: 0 30px;
    }

    nav {
        background-color: #310025;
        border: 1px solid #990066;

    }

    nav li,
    nav li a {
        background-color: none;
        border: none;
        display: inline-block;
        padding: 10px 20px;

    }

    .sub-menu {
        width: 210px;
        right: 0;
        position: absolute;
        margin-right: 30%;
    }

    .sub-menu li,
    .sub-menu li a {
        display: block;
    }



    header {
        background-color: #ffffff;
    }

    #logo {
        margin: auto;
    }

    #logo_mobile {
        display: none;
    }

    #logo img {
        max-width: 200px;
    }


    #logo_tablet {
        display: block;
        margin: auto;
    }

    .typography {
        width: 30%;
        display: inline-block;
        margin: 0 1em;
        background-size: 0%;
    }

    /* index */
    .index__hero-content {
        background-size: 70%;
    }

    /* about */

    /* style tile page */
    .style-tile-page {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        box-sizing: content-box;
        background-size: 40%;
        background-position: 60%;
        background-repeat: no-repeat;
    }

    .color-tiles {
        display: inline-block;
        margin-top: 1em;
        background-color: inherit;
        width: 100%;
    }

    .tile-light-purple,
    .tile-dark-purple,
    .tile-yellow,
    .tile-grey {
        border: 2px solid #ffffff;
        width: 20%;
    }

    .textures {
        text-align: center;
        padding: 0;
        margin: 1em 0;
    }

    .fish,
    .food {
        display: inline-block;
        width: 34%;
        padding: 1em;
    }


    .purple-icon {
        width: 49%;
        display: inline-block;
    }

    .purple-icon img {
        width: 90%;
    }

}

@media all and (min-width: 1100px) {
    a:hover {
        font-weight: 400;
    }

    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 30px;
    }

    .menu-wrap {
        width: 25%;
        display: inline-block;
    }

    .main-content {
        width: 70%;
        display: inline-block;
    }

    header {
        float: left;
        width: 25%;
        height: 100%;
        display: inline-block;
        text-align: left;
        position: fixed;
    }

    .main-index {
        background-size: 30%;
        float: right;
        display: inline-block;
    }


    #logo {
        display: block;
        margin: 0;
        padding: 40px 0;
        width: 100%;
    }

    #logo img {
        margin: auto;
        max-width: 180px;
    }

    nav {
        display: inline-block;
        background-color: #ffffff;
        vertical-align: text-bottom;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        border: none;
    }



    nav li,
    nav li a {
        color: #990066;
        font-size: 25px;
        display: block;
        background-color: #ffffff;
        border: none;
        /*padding: 20px 0;*/

    }

    nav a:hover {
        font-weight: 600;
    }

    .sub-menu {
        position: relative;
        margin-right: 0;
        width: 100%;

    }

    .sub-menu ul {
        display: block;
        color: #ffffff;
        top: -50px;
        margin-left: 25%;
    }

    .sub-menu li,
    .sub-menu li a {
        font-size: 15px;
        color: #ffffff;

    }

    .icon-size {
        max-width: 150px;
        display: inline-block;
    }

    .index__hero-content {
        background-size: 60%;
        background-position: 85% 70%;
    }

    .index__hero-content h1 {
        margin-top: 150px;
    }

    .page-section {
        height: 100%;
        background-color: //rgba(28, 28, 28, 0.5);
        margin: 7% 0 0 28%;
        padding: 5vw;
        min-height: 60vh;
    }



    .style-tile-page {
        background-size: 30%;
    }

    button:hover {
        box-shadow: 0 0 15px rgba(250, 242, 140, 0.5);
    }

    footer {
        clear: both;
        height: 20vh;
    }
}
