body {
    background-color: #1c1c1c;
    color: #ffffff;
}

h1 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.75em;
    text-transform: uppercase;
}

h3 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.1em;
    text-transform: uppercase;
}

h4 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
}

h5 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    font-size: 0.9em;

}

h6 {
    font-family: "canada-type-gibson", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #ffffff;
    font-size: 0.8em;
}

p {
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 1em;
    padding: 1em;
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: #faf28c;
}

header {
    margin: auto;
    text-align: center;
    width: 100%;
}

#logo {
    background-color: #ffffff;
}

#logo_tablet {
    display: none;
}

#logo img {
    width: 95%;
    max-width: 470px;
}

nav {
    padding: 1em;
    font-family: "canada-type-gibson", sans-serif;
    font-style: normal;
    background-color: #990066;
    text-transform: uppercase;
}

nav a {
    padding: 0.8em;
    margin: 0.3em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}

.typography {
    text-align: center;
    background-image: url(../img/fish.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 30%;
    background-attachment: fixed;
}

button {
    margin: auto;
    display: block;
    width: 200px;
    height: 2em;
    background-color: #310025;
    color: #ffffff;
    border: 1px solid #990066;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2em;
    vertical-align: top;
    padding: 1em 0 1.75em 0;
    outline: none;
}

main {
    background-image: url(../img/fish-right.png);
    background-repeat: repeat-x;
    background-size: 50%;
    background-attachment: fixed;
}

.color-tiles {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    vertical-align: middle;
}

.tile-light-purple {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #990066;
    display: inline-block;
}

.tile-dark-purple {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #310025;
    display: inline-block;
}

.tile-yellow {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #faf28c;
    display: inline-block;
    color: #1c1c1c;
}

.tile-grey {
    padding: 1em 0;
    width: 20%;
    margin: 5px;
    background-color: #bfbfbf;
    display: inline-block;
}

.icons {
    text-align: center;
}

.purple-icon {
    width: 100%;
}

.purple-icon img {
    width: 55%;
}

@media all and (min-width: 800px) {
    header {
        background-color: #ffffff;
    }

    #logo {
        margin: auto;
        width: 30%;
    }

    #logo_mobile {
        display: none;
    }

    #logo_tablet {
        display: block;
    }

    .typography {
        width: 30%;
        display: inline-block;
        margin: 0 1em;
        background-size: 0%;
    }

    main {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        box-sizing: content-box;
        background-size: 40%;
        background-position: 60%;
        background-repeat: no-repeat;
    }

    .color-tiles {
        display: inline-block;
        margin-top: 1em;
        background-color: inherit;
        width: 100%;
    }

    .tile-light-purple,
    .tile-dark-purple,
    .tile-yellow,
    .tile-grey {
        border: 2px solid #ffffff;
        width: 20%;
    }

    .textures {
        text-align: center;
        padding: 0;
        margin: 1em 0;
    }

    .fish,
    .food {
        display: inline-block;
        width: 34%;
        padding: 1em;
    }


    .purple-icon {
        width: 49%;
        display: inline-block;
    }

    .purple-icon img {
        width: 90%;
    }

}

@media all and (min-width: 1100px) {
    a:hover {
        font-weight: 400;
    }

    header {
        background-color: #ffffff;
        text-align: left;
    }

    #logo {
        display: inline-block;
        margin: 0 4em;
        padding: 0;
        width: 20%;
    }

    nav {
        display: inline-block;
        background-color: #ffffff;
        margin: 0 0 1em 0;
        vertical-align: text-bottom;
        padding: 0;
        width: 65%;
        text-align: right;
    }

    nav a {
        color: #990066;
        font-size: 1.5em;
    }

    nav a:hover {
        font-weight: 600;
    }

    .typography {

    }

    main {
        background-size: 30%;
    }

    button:hover {
        box-shadow: 0 0 15px rgba(250, 242, 140, 0.5);
    }
}
